# Role Name

A brief description of the role goes here.

## Requirements

No requirements.

## Role Variables

No variables.

## Dependencies

No dependencies.

## Example Playbook

```
- hosts: servers
  roles:
     - { role: {{ role_name }}, x: 42 }
```

## License

MIT

## Author Information

Fernandez Ludovic
